body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    font-size: 18px;
    background-color: darkorange;
}

h1 {
    font-size: 32px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
    list-style-image: url(../Imagenes/Lista.png);
}

li {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
    background-color: chocolate;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}